/* Modelling Programs Page Styles */
.modelling-programs {
    margin: 100px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modelling-program {
    flex-basis: 45%;
    position: relative;
    margin-bottom: 30px;
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}

.modelling-program img {
    width: 100%;
    display: block;
    border-radius: 15px;
}

.modelling-caption {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 123, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    padding-top: 60%;
    transition: 0.5s;
    z-index: 1;
}

.modelling-caption img {
    width: 80px;
    margin-bottom: 10px;
}

.modelling-caption p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.modelling-program:hover .modelling-caption {
    opacity: 1;
    padding-top: 0;
}

/* Tablet View Adjustments */
@media (max-width: 1024px) {
    .modelling-program {
        flex-basis: 48%;
    }
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
    .modelling-program {
        flex-basis: 100%;
    }

    .modelling-caption img {
        width: 60px;
    }

    .modelling-caption p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .modelling-caption img {
        width: 50px;
    }

    .modelling-caption p {
        font-size: 14px;
    }
}
